.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .unorderList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .listBox {
    position:relative;
    top: 0;
    border: 1px solid #741188;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 10px;
    cursor:pointer;
    transition: top 0.2s ease-in;
    -webkit-transition:  top 0.2s ease-in;
  }
  .listBox:last-child{
      margin-bottom: 0;
  }
  .listBox:hover{
      top:-4px;
  }

  .errorMsg{
        margin: 0;
        font-weight: bold;
        text-align: center;
        color: red;
  }